################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AIModuleLoader
/ExampleAIClient
/ExampleTournamentModule
/Starcraft
/ExampleProjects.sln
/LICENSE.txt
/README.txt
/BWAPIClient
/BWAPILIB
/Chaoslauncher
/MPQDraft
/Shared
/Starcraft
/ExampleProjects.sln
/LICENSE.txt
/README.txt
